
* {
	font-family: 'Roboto'
}

header {
	background-color: #FFCD00;
	height: 600px;
}
a {
	text-decoration: none;
	
}
ul {
	list-style: none;
}
li {
	display: inline-block;

	margin: 15px;
}

.text-claro {
	color: white;
}

button {
	padding: 12px;
	background-color: #F7BA15;
	border: 0px;
	display: block;
	font-size: .9em;	
	width: 100px;
	
}

header button {
	margin: 60px 10px 10px 130px;
}

h1 {
	margin-top: 250px;
	margin-bottom: 10px;
}

h2 {
	margin-bottom: 3%;
	color: #44423F;
}
p {
	margin-bottom: 10%;
}
.bbla {
	background-color: #FCFAF7;
	margin-left: 20px;
	padding: 20px;

}

section {
	background-color: lightgray;
	padding: 70px;
}

section button {
	margin: auto;
}

footer {
	background-color: #44423F;
	height: 100px;
	padding: 30px 0px 0px 100px;

}

img {
	width: 300px;
	height: 300px;
	margin: 2% 0% 5% 22%;

}

.row {
	margin-bottom: 60px;
}






